@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --futureart-1: #6b4796;
  --futureart-2: #3C3144;
  --futureart-3: #7F579E;
  --futureart-4: #B65299;
  --futureart-5: #F1F1F1;
  --futureart-6: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--futureart-5);
}

::-webkit-scrollbar-thumb {
  background: var(--futureart-1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--futureart-1);
  border-radius: 50%;
}

button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: 0;
  outline: 0;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons a {
  width: 35px;
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 5px;
  color: var(--futureart-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons a:hover {
  background-color: var(--futureart-1);
  color: var(--futureart-6);
  animation: ease infinite;
  animation-name: s_icons;
  animation-duration: 0.9s;
}
@keyframes s_icons {
  0% {
    box-shadow: 0 0 0 0 var(--futureart-1);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
  }
}

.search-button {
  color: var(--futureart-1);
  margin-right: 25px;
  font-size: 20px;
}
.search-button:hover {
  opacity: 0.7;
}

.search-input {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ededed;
}
.search-input form {
  width: 100%;
  position: relative;
}
.search-input .form-control {
  border: none;
  box-shadow: none;
  caret-color: var(--futureart-1);
  color: var(--futureart-1);
  background-color: #ededed;
  width: 100%;
  font-weight: 500;
  padding: 12px 15px;
  padding-right: 45px;
}
.search-input button {
  position: absolute;
  right: 0;
  top: 50%;
  margin: 0 10px;
  transform: translateY(-50%);
}
.search-input button i {
  color: var(--futureart-1);
  font-size: 20px;
}

.col-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.col-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.col-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--futureart-1);
  margin: 10px 0;
}
.close-button i {
  color: var(--futureart-1);
  font-size: 24px;
}
.close-button:hover {
  background-color: var(--futureart-1);
  transition: all 0.3s;
}
.close-button:hover i {
  color: var(--futureart-6);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
}

section {
  width: 100%;
  margin-bottom: 30px;
}
section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  font-weight: 500;
}
.section-title :hover {
  color: var(--futureart-1);
  transition: all 0.3s;
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--futureart-6);
  padding: 25px 20px;
  width: 100%;
  max-width: 370px;
}
.service-card .title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.service-card .title p {
  margin-top: 15px;
}
.service-card .text {
  font-size: 12px;
  text-align: center;
  line-height: 22px;
}
.service-card:hover {
  background: linear-gradient(180deg, var(--futureart-1) 0%, var(--futureart-4) 100%);
  transition: all 0.3s;
}
.service-card:hover .normal-logo {
  display: none;
}
.service-card:hover .white-logo {
  display: flex;
}
.service-card:hover .title {
  color: var(--futureart-6);
  transition: all 0.5s;
}
.service-card:hover .text {
  color: var(--futureart-6);
}

.page-scroll-button {
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: var(--futureart-6);
  background-color: var(--futureart-1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--futureart-6);
  border-radius: 5px;
  z-index: 9;
  bottom: 30px;
  right: 30px;
  animation: page_scroll 1s ease forwards;
}

@keyframes page_scroll {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
header {
  width: 100%;
}
header .general-header {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
header .general-header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .general-header .container .row {
  width: 100%;
}
header .general-header .container .col-2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
}
header .general-header .container .col-2 .br-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .general-header .container .col-2 .br-icons .search-button {
  margin-right: 25px;
  font-size: 30px;
}
header .general-header .container .col-2 .br-icons .pdf-link {
  color: var(--futureart-1);
  font-size: 30px;
}
header .general-header .container .col-2 .br-icons .pdf-link:hover {
  opacity: 0.7;
}
header .general-header .container .col-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
header .general-header .header-logo {
  max-width: 115px;
}
header .general-header .header-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .general-header .right-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .general-header .right-wrapper .top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .general-header .right-wrapper .top .top-languages {
  padding: 0 15px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .general-header .right-wrapper .top .top-languages a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  font-weight: 600;
  font-size: 18px;
  margin-right: 15px;
}
header .general-header .right-wrapper .top .top-languages a.active {
  color: var(--futureart-1);
}
header .general-header .right-wrapper .social-icons {
  padding: 0 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
header .general-header .right-wrapper .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
header .general-header .right-wrapper .bottom .links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .general-header .right-wrapper .bottom .links a {
  color: rgba(0, 0, 0, 0.9);
  position: relative;
}
header .general-header .right-wrapper .bottom .links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10%;
  width: 100%;
  height: 1px;
  transition: 0.3s;
  transform: scaleX(0);
  background-color: transparent;
}
header .general-header .right-wrapper .bottom .links a::after {
  width: 0;
  transform: scale(1);
}
header .general-header .right-wrapper .bottom .links a:hover {
  color: var(--futureart-1);
}
header .general-header .right-wrapper .bottom .links a:hover::after {
  background-color: var(--futureart-1);
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  header .general-header .right-wrapper .bottom .links a {
    font-size: 18px;
  }
}
header .general-header .right-wrapper .bottom .row {
  width: 100%;
}
header .general-header.fixed-top {
  background-color: var(--futureart-6);
  box-shadow: 0 0 5px var(--futureart-1);
  margin-top: 0;
  animation: fix-header 0.8s ease forwards;
}
header .general-header.fixed-top .header-logo {
  max-width: 90px;
}
header .general-header.fixed-top .bottom .row {
  margin-bottom: 10px;
}
@keyframes fix-header {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}
header .mobile-navbar {
  width: 100%;
  padding: 15px 0;
}
header .mobile-navbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .mobile-navbar .container .row {
  width: 100%;
}
header .mobile-navbar .container .row .col-6 {
  padding: 0;
}
header .mobile-navbar .header-logo img {
  max-width: 70px;
}
@media only screen and (min-width: 576px) {
  header .mobile-navbar .header-logo {
    max-width: 90px;
  }
}
@media only screen and (min-width: 768px) {
  header .mobile-navbar .header-logo {
    max-width: 120px;
  }
}
header .mobile-navbar .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .mobile-navbar .right .mobile-phone {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .mobile-navbar .right .mobile-phone i {
  color: var(--futureart-1);
  font-size: 20px;
}
@media only screen and (min-width: 576px) {
  header .mobile-navbar .right .mobile-phone i {
    font-size: 24px;
  }
}
header .mobile-navbar .right .mobile-phone span {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (min-width: 576px) {
  header .mobile-navbar .right .mobile-phone span {
    font-size: 20px;
  }
}
header .mobile-navbar .right .mobile-phone .fa-phone:hover {
  animation: ease infinite;
  animation-name: faphone;
  animation-duration: 0.2s;
}
@keyframes faphone {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-12deg);
  }
  100% {
    transform: rotate(0);
  }
}
header .mobile-navbar .right .mobile-right {
  margin-right: 15px;
}
header .mobile-navbar.fixed-top {
  background-color: var(--futureart-6);
  box-shadow: 0 0 5px var(--futureart-1);
  margin-top: 0;
  animation: fix-header 0.8s ease forwards;
}
header #mobile-menu .offcanvas-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
header #mobile-menu .offcanvas-wrapper a {
  color: var(--futureart-1);
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
}
header #mobile-menu .offcanvas-wrapper a:hover {
  background-color: var(--futureart-1);
  color: var(--futureart-6);
  animation: ease infinite;
  animation-name: canvaslinks;
  animation-duration: 0.9s;
}
@keyframes canvaslinks {
  0% {
    box-shadow: 0 0 0 0 var(--futureart-1);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
  }
}
header #mobile-menu .canvas-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
header #mobile-menu .canvas-links a {
  color: var(--futureart-1);
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  padding: 12px 25px;
}
header #mobile-menu .canvas-links a i {
  margin-right: 5px;
}
header #mobile-menu .canvas-links a:hover {
  background-color: var(--futureart-1);
  color: var(--futureart-6);
  animation: ease infinite;
  animation-name: canvaslinks;
  animation-duration: 0.9s;
}
header #mobile-menu .canvas-links a:hover .fa-phone {
  animation: ease infinite;
  animation-name: faphone;
  animation-duration: 0.2s;
}
header #mobile-menu .canvas-links :first-child {
  margin-top: 10px;
}
header .dropdown-button span {
  color: var(--futureart-1);
  font-size: 22px;
  font-weight: 500;
  margin-right: 15px;
}
header .dropdown-button span:hover {
  opacity: 0.7;
}
header .dropdown-menu {
  min-width: 60px;
}
header .dropdown-menu li {
  padding: 0 5px;
}
header .dropdown-menu .menu-item {
  color: var(--futureart-1);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .dropdown-menu .menu-item:hover {
  background-color: var(--futureart-1);
  color: var(--futureart-6);
  transition: all 0.3s;
}

header #search-offcanvas .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
header #search-offcanvas .container .row {
  width: 100%;
}

.menu-button {
  color: var(--futureart-1);
  font-size: 20px;
}
.menu-button:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 380px) {
  .menu-button {
    font-size: 24px;
  }
}
section.banner {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
section.banner .banner-swiper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
section.banner .banner-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
section.banner .banner-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}
section.banner .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 50px 25px;
}
section.banner .content .title {
  color: var(--futureart-6);
  font-size: 28px;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  section.banner .content .title {
    font-size: 36px;
    font-weight: 600;
  }
}
section.banner .content .text {
  color: var(--futureart-6);
  text-align: center;
  max-width: 1000px;
  font-size: 16px;
  margin-bottom: 35px;
  margin-top: 20px;
}
section.banner .content .about-link {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 15px;
  margin: 15px 0;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  min-width: 120px;
  max-width: 210px;
  position: relative;
  transition: all 0.6s;
  --tilt: 1.2rem;
}
section.banner .content .about-link span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  z-index: 3;
}
section.banner .content .about-link::after {
  -webkit-clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 50%, calc(100% - var(--tilt)) 100%, 0 100%);
          clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 50%, calc(100% - var(--tilt)) 100%, 0 100%);
  content: "";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 100%;
  width: 40px;
  top: 0;
  left: 0;
  transform: scale(1);
  border-radius: 10px 0 0 10px;
  transition: all 0.6s;
  opacity: 0;
}
section.banner .content .about-link::before {
  -webkit-clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 50%, calc(100% - var(--tilt)) 100%, 0 100%);
          clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 50%, calc(100% - var(--tilt)) 100%, 0 100%);
  content: "";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 100%;
  width: 40px;
  top: 0;
  right: 0;
  transform: scale(1) rotate(180deg);
  transition: all 0.6s;
  border-radius: 10px 0 0 10px;
  opacity: 0;
}
section.banner .content .about-link:hover {
  border-color: transparent;
  transform: scale(1.1);
}
section.banner .content .about-link:hover span {
  color: #000;
}
section.banner .content .about-link:hover::after, section.banner .content .about-link:hover::before {
  width: 70%;
  opacity: 1;
}

section.about .row {
  width: 100%;
}
section.about .row .col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
section.about .row .col-12 .about-image {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
}
section.about .row .col-12 .about-image .second-image {
  position: absolute;
  width: 70%;
  right: 0;
  bottom: 0;
  border: 5px solid #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 992px) {
  section.about .row .col-12 .about-image .second-image {
    transform: translateX(30px);
  }
}
section.about .row .col-12 .about-image .first-image {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  section.about .row .col-12 .about-image .first-image {
    max-height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  section.about .row .col-12 .about-image {
    max-width: 600px;
    margin-bottom: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) {
  section.about .row .col-12:last-child {
    padding-left: 30px;
    align-items: flex-start;
  }
}
section.about .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
section.about .content .section-title {
  margin-bottom: 30px;
}
section.about .content .text {
  font-size: 14px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  section.about .content .text {
    text-align: start;
  }
}
@media only screen and (min-width: 992px) {
  section.about .content {
    align-items: flex-start;
    display: flex;
    justify-content: center;
  }
}

section.services {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
section.services .row {
  width: 100%;
}
section.services .row .col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
section.services .row .title-col {
  margin-bottom: 10px;
}
section.services .row .title-col .small-title {
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
}
section.services .white-logo {
  display: none;
  width: 66px;
  height: 66px;
}

section.projects {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}
@media only screen and (min-width: 992px) {
  section.projects .section-title {
    align-self: flex-start;
  }
}
section.projects .projects-card {
  width: 100%;
  max-width: 370px;
  max-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section.projects .projects-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.projects .projects-card .hover-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--futureart-6);
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(182, 82, 153, 0.55);
  transform: scale(0);
  transition: all 0.5s;
}
section.projects .projects-card .hover-div img {
  width: 50px;
  height: 50px;
}
section.projects .projects-card:hover .hover-div {
  transform: scale(1);
}
section.projects .projects-swiper {
  margin-top: 30px;
  padding-bottom: 60px;
}

section.video .video-swiper {
  padding-bottom: 50px;
}
section.video .video-item {
  position: relative;
  width: 100%;
  max-width: 370px;
  max-height: 350px;
}
section.video .video-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.video .video-item:hover .hover-div {
  background-color: rgba(107, 71, 150, 0.5);
}
section.video .hover-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(107, 71, 150, 0.2);
}
section.video .hover-div .play-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 3px solid var(--futureart-6);
  display: flex;
  align-items: center;
  justify-content: center;
}
section.video .hover-div .play-button i {
  color: var(--futureart-6);
  font-size: 26px;
}
@media only screen and (min-width: 992px) {
  section.video .hover-div .play-button i {
    font-size: 35px;
  }
}
section.video .hover-div .play-button:hover i {
  color: var(--futureart-1);
}
section.video .hover-div .play-button:hover {
  background-color: var(--futureart-6);
  transform: scale(1.2);
  transition: all 0.3s;
}
@media only screen and (min-width: 992px) {
  section.video .hover-div .play-button {
    width: 80px;
    height: 80px;
  }
}

section.counter {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}
section.counter .counter-wrapper {
  width: 100%;
  min-height: 380px;
  color: var(--futureart-6);
}
section.counter .counter-wrapper .col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.counter .counter-wrapper .counter-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
}
section.counter .counter-wrapper .counter-item .counter-span {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}
section.counter .counter-wrapper .counter-item .name {
  font-size: 22px;
  font-weight: 500;
}
section.counter .counter-wrapper .counter-item .pdf-link {
  color: var(--futureart-6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
}
section.counter .counter-wrapper .counter-item .pdf-link i {
  margin-bottom: 10px;
  font-size: 55px;
}
section.counter .counter-wrapper .counter-item:hover {
  background-color: var(--futureart-6);
  color: var(--futureart-1);
  transition: all 0.3s;
}
section.counter .counter-wrapper .counter-item:hover .pdf-link {
  color: var(--futureart-1);
}

section.comment {
  background-repeat: no-repeat;
  background-position: center left;
  padding: 40px 0;
  background-color: var(--futureart-5);
}
section.comment .comment-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
}
section.comment .comment-item .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
  background-color: var(--futureart-6);
  position: relative;
  margin-bottom: 55px;
}
section.comment .comment-item .content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 45px solid var(--futureart-6);
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
@media only screen and (min-width: 992px) {
  section.comment .comment-item .content::after {
    left: 60px;
    transform: translateX(0);
  }
}
@media only screen and (min-width: 992px) {
  section.comment .comment-item .content {
    align-items: flex-start;
  }
}
section.comment .comment-item .name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  section.comment .comment-item .name {
    align-items: start;
  }
}
section.comment .comment-item .stars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}
section.comment .comment-item .stars img {
  margin-right: 5px;
}
section.comment .comment-item .text {
  font-size: 14px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  section.comment .comment-item .text {
    text-align: start;
  }
}
section.comment .comment-item .users {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
section.comment .comment-item .users img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 992px) {
  section.comment .comment-item .users {
    transform: translateX(78px);
  }
}
@media only screen and (min-width: 992px) {
  section.comment .comment-item {
    align-items: flex-start;
  }
}
section.comment .comment-swiper {
  margin-top: 20px;
  padding-bottom: 50px;
}

section.contact {
  padding: 20px 0 40px;
}
section.contact .general-row {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  section.contact .general-row {
    flex-direction: row-reverse;
  }
}
section.contact .general-row .col-12 {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
section.contact .general-row .dropdown-col {
  margin-bottom: 15px;
}
@media only screen and (min-width: 992px) {
  section.contact .general-row .dropdown-col {
    justify-content: flex-end;
  }
}
section.contact .general-row .contact-dropdown {
  background-color: #f3f3f3;
  width: 100%;
  max-width: 280px;
  min-width: 140px;
  position: relative;
}
section.contact .general-row .contact-dropdown .active-button {
  padding: 10px 20px;
  font-size: 16px;
  justify-content: space-between;
  width: 100%;
}
section.contact .general-row .contact-dropdown .address-menu {
  background-color: #f3f3f3;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: address-menu 0.3s ease forwards;
  z-index: 9;
}
section.contact .general-row .contact-dropdown .address-menu button {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 3px;
  width: 100%;
  justify-content: flex-start;
  font-size: 14px;
}
section.contact .general-row .contact-dropdown .address-menu button:hover {
  color: var(--futureart-1);
}
section.contact .general-row .contact-dropdown .address-menu button.active {
  display: none;
}
@keyframes address-menu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
section.contact .address-row {
  width: 100%;
  animation: contact_animation 0.3s ease forwards;
}
@keyframes contact_animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
section.contact .address-row .address-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  section.contact .address-row .address-content {
    align-items: flex-start;
    padding: 0 25px;
  }
}
section.contact .address-row .address-content .title {
  font-size: 20px;
  font-weight: 600;
}
section.contact .address-row .address-content .links-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  section.contact .address-row .address-content .links-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  section.contact .address-row .address-content .links-wrapper span {
    min-width: 80px;
  }
}
section.contact .address-row .address-content .links-wrapper a {
  color: #000;
  text-align: center;
  margin-bottom: 5px;
}
section.contact .address-row .address-content .links-wrapper a:hover {
  color: var(--futureart-1);
}
section.contact .address-row .address-content .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.contact .address-row .contact-swiper {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  section.contact .address-row .contact-swiper {
    margin-bottom: 0;
  }
}
section.contact .address-row .contact-swiper img {
  width: 100%;
  max-width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
section.contact .address-row .contact-swiper .navigation-button {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
section.contact .address-row .contact-swiper .navigation-button .swiper-button-prev::after,
section.contact .address-row .contact-swiper .navigation-button .swiper-button-next::after {
  color: var(--futureart-6);
  font-size: 22px;
  font-weight: 900;
}
section.contact .address-row .contact-swiper .navigation-button .swiper-button-prev {
  transform: translateX(-45px);
}
section.contact .address-row .contact-swiper .navigation-button .swiper-button-next {
  transform: translateX(30px);
}
section.contact .address-row .contact-swiper .navigation-button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.contact .address-row .contact-swiper .navigation-button .icon i {
  color: var(--futureart-6);
  margin-right: 15px;
  font-size: 12px;
}

footer {
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--futureart-2);
  width: 100%;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .container .top {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
footer .container .top .row {
  width: 100%;
}
footer .container .top .footer-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
footer .container .top .footer-links .col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .container .top .footer-links a {
  color: var(--futureart-6);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
}
footer .container .top .footer-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  transition: all 0.2s;
  transform: scaleX(0);
}
footer .container .top .footer-links a:hover::after {
  background-color: var(--futureart-6);
  transform: scale(1);
}
footer .container .top .footer-links.second {
  flex-direction: column;
}
footer .container .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid var(--futureart-3);
}
footer .container .bottom a {
  color: var(--futureart-6);
  font-size: 22px;
  font-weight: 600;
}
footer .footer-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
footer .footer-logo img {
  width: 100%;
  max-width: 180px;
}
footer .social-icons a:hover {
  background-color: var(--futureart-6);
  animation: footer-links 0.9s ease infinite;
}
footer .social-icons a:hover i {
  color: var(--futureart-1);
}
footer .social-icons a::after {
  display: none;
}
@keyframes footer-links {
  0% {
    box-shadow: 0 0 0 0 var(--futureart-6);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(255, 134, 134, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
  }
}/*# sourceMappingURL=style.css.map */